body {
    min-width: 630px;
}

.container {
    padding-left: 200px;
    padding-right: 190px;
}

.container .column {
    position: relative;
    float: left;
}

.center {
    padding: 10px 20px;
    width: 100%;
}

.left {
    width: 180px;
    padding: 0 10px;
    right: 240px;
    margin-left: -100%;
}

.right {
    width: 130px;
    padding: 0 10px;
    margin-right: -100%;
}

.footer {
    clear: both;
}

.container {
    overflow: hidden;
}

.container .column {
    padding-bottom: 1001em;
    margin-bottom: -1000em;
}

.footer-wrapper {
    float: left;
    position: relative;
    width: 100%;
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    line-height: 1.5em;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: green;
    text-decoration: none;
}

.header,
.footer {
    font-size: large;
    padding: 0.3em;
    background: #BCCE98;
}

.left {
    background: #DAE9BC;
}

.right {
    background: #F7FDEB;
}

.center {
    background: #fff;
}

.container .column {
    padding-top: 1em;
}

.submitbtn {
    background-color: #ddd;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: auto;
    height: 24px;
    line-height: 0;
    opacity: 0.9;
}

.sliderbtn {
    background-color: green;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    width: auto;
    height: 24px;
    line-height: 0;
    opacity: 0.9;
    outline: none;
}

.userdet {
    width: 50%;
    overflow: auto;
    float: left;
}

.accountdet {
    width: 50%;
    overflow: auto;
}

.input--style-1 {
    width: 90%;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
}

.country--style {
    width: 20%;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
}

.phone--style {
    width: 70%;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
}

.textarea--style {
    width: 90%;
    height: 70px;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
}

.text--style-1 {
    font-size: x-large;
}

canvas {
    border: 1px solid black;
}